.login__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}
.login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login__container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border:1px solid lightgrey;
    padding: 20px;
}
.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}
.login__container > form > h5 {
    margin-bottom:5px;   
}
.login__container > form > input {
    height: 30px;
    width: 100%;
    margin-bottom:10px;
    background-color: white;
}
.login__signInButton{
    width: 100%;
    background-color: rgb(245, 125, 13) ;
    height: 30px;
    border: 1px solid rgb(70, 23, 23) ;
    border-radius: 2px;
    margin: 10px 0;
}